a.light{
    color: #fff;
}

a.light:hover {
    color: #fff;
    text-decoration: none;
}

a.light:active {
    color: #FEDB00;
    text-decoration: none;
}

a.dark {
    color: #3EBAAB;
}

a.dark:hover {
    color: #3EBAAB;
    text-decoration: none;
}

.col-xs-12 {
	/*border: 1px solid #222;*/
	/* padding: 30px 30px 30px 30px; */
    padding: 0;
	}
.col-lg-4 {
    /*border: 1px solid #222;*/	
}
.col-xs-6 {
    /*border: 1px solid #222;*/	
}
.col-lg-3 {
    /*border: 1px solid #222;*/	
}

.yellow-background {
    background-color: #FADA30;
    margin: 0 30% 0 30%;
    border-radius: 5px;
    padding: 5px 2px 5px 2px;
}

.light-yellow-background {
    background-color: #ECEAC6;
    padding-top: 20px;
}

a.yellow{
	color: #FADA30;
}

a:hover.yellow{
    color: #FADA30;
}

.green {
	background-color: #3EBAAB;
    padding: 20px 0 50px 0;
}

.light-brown {
	background-color: #C2B49A;
}

.dark-brown {
	background-color: #594A41;
    padding: 20px 0 50px 0;
}

.black {
    background-color: #212322;
}

.center {
	text-align: center;
}

.recent-article {
    background-image: url("/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/1-01.png");
    border-radius: 5px;
    margin-bottom: 5px;
}

.center img {
    margin: 0 auto 20px;
}

img.center {
	text-align: center;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #3EBAAB
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.nav-bar {
    background-color: #212322;
}

.nav-bar a{
    background-color: #212322;
    color: #fff;
}

.navbar-fixed-bottom {
    background-color: #333;
    padding: 5px 0 0 0;
}

.carousel-zaozao {
    width: 100%;
    height: auto;
    margin-right: 5%;
}

.catalog1 {
    padding-top: 5%;
    border-radius: 5px;
    background-image: url(/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/bg2.jpg);
}

.catalog2 {
    padding-top: 5%;
    border-radius: 5px;
    background-image: url(/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/bg1.jpg);
}

.catalog3 {
    padding-top: 5%;
    border-radius: 5px;
    background-image: url(/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/bg12.jpg);
}

.catalog4 {
    padding-top: 5%;
    border-radius: 5px;
    background-image: url(/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/bg5.jpg);
}

.catalog5 {
    padding-top: 5%;
    border-radius: 5px;
    background-image: url(/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/bg10.jpg);
}

.catalog6 {
    padding-top: 5%;
    border-radius: 5px;
    background-image: url(/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/bg12.jpg);
}

.catalog7 {
    padding-top: 5%;
    border-radius: 5px;
    background-image: url(/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/bg13.jpg);
}

.mask {
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin: 0;    
}

.mask h4 {
    padding: 5% 2% 20% 2%;
    margin: 0;
}

.mask p {
    padding: 20% 2% 0 2%;
    margin: 0;
}

.white {
    color: #fff;
    margin: 0;
}

.title-left {
    /*padding-left: 20px;*/
    margin-left: -10px;
    color: #3EBAAB;
}

.title-right {
    padding-right: 20px;
    text-align: right;
    color: #3EBAAB;
}

.bot-nav {
    margin-bottom: 3px;
}


/* button group */

.btn-submit-white {
    background-color: #FADA30;
    color: #212322;
}

.btn-submit-white:hover {
    background-color: #fff;
    border: solid #FADA30 1px;
    color: #FADA30;
}

.btn-submit-light-brown {
    background-color: #FADA30;
    color: #212322;
}

.btn-submit-light-brown:hover {
    background-color: #C2B49A;
    border: solid #fff 1px;
    color: #fff;
}

/* yujiaokecheng */
.entry-screenshot {
    width: 160px;
    height: 80px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #f1f1f1;
}

#article_content img{
    width: 100%;
}
/* article_detial */
.overplay {
    position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
}

.share {
    top: 6%;
    right: 5%;
    position: absolute;
    width: 50%;
}
/* article_browse */
.browse-bottom {
    margin-bottom: 20%;
}

.browse-date {
    margin: 10px 85% 10px 0;
    background-color: #FADA30;
    border-radius: 20px;
}

.browse-date p {
    margin: 10% 0 10% 0;
}

/* liked */
.banner-bottom {
    margin-bottom: 5px;
}

/* article-detail */
.article-body {
    padding: 0 8% 0 8%;
    margin-bottom: 30px;
}

.green-btn {
    background-color: #3EBAAB;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    margin-top: 10px;
}

/* article-detail */
hr.transparent {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #212322, rgba(0, 0, 0, 0));
}


/* user-profile */
.cover-green {
    background-color: #3EBAAB;
}
.avatar {
    position: relative;
    z-index: 2;
    margin-top: -15%;
    border-radius: 50%;
    width: 30%;
    margin-left: 35%;
}

.user-name {
    padding: 0 50px 0 50px;
    margin: 50px 0 50px 0;
}

.baby-info {
    margin-top: 50px;
    margin-bottom: 20%;
    padding: 30px 100px 30px 100px;
    border-radius: 10px;
}
/* home category */
.gallery{
    background: #fff;
    margin-bottom: 6%;
    height: 200px;
    white-space:nowrap;
    overflow: scroll;
}

.gallery-cell{
    white-space:nowrap;
    width: 40%;
    height: 200px;
    margin-right: 20px;
    background-color: #3EBAAB;
    display: inline-block;
}
