<div  ng-repeat="course in courses">
	<div class="row">
		<div class="col-xs-12">
			{{course.date}}
		</div>
	</div>
	<div class="row" ng-repeat="c in course.course">
		<div class="col-xs-12">
			<div class="col-xs-4 entry-screenshot">
				<img src="img/2.jpg" alt="">
			</div>
			<div class="col-xs-8">
				<div class="col-xs-12">
					<a href="article_detail.html">{{c.name}}</a>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-4" ng-repeat="tag in c.tags"><a ui-sref="course_tags({courseTagId:tag.id})"><i class="fa fa-tag"></i>{{tag.name}}</a></div>
					<div class="col-xs-8">{{c.videoLength}}分钟</div>
				</div>
			</div>
		</div>
	</div>
	
</div>