<!DOCTYPE html>
<html lang="en" ng-app="indexModule">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>zaozao</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/zaozao.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="public/js/domainNameUtil.js"></script>
    <script type="text/javascript" src="public/js/course_tag_service.js"></script>
    <script type="text/javascript" src="public/js/index.js"></script>
    <base href="/">
</head>
<body>

	<div class="container" ng-controller="IndexController">
		<div class="row">
			<div class="col-xs-12 yellow center">
				<img class="img-responsive" ng-src="{{homeConfig[0].image}}" alt="" width="200px" height="200px">
				<h1>欢迎来到早早</h1>
				<hr class="star-light">
				</hr>
				<p></p>
				<p></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 center">
				最新文章
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-4 recent-article1" ng-repeat="course in courses" back-image="{{course.imageUrl}}">
				<div class="col-xs-4">
				</div>
				<div class="col-xs-8">
					<div class="col-xs-12">
						<a href="article_detail.html">{{course.name}}</a>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-4" ng-repeat="tag in course.tags"><a href="yujiakecheng_home.html"><i class="fa fa-tag"></i>  {{tag}}</a></div>
						<div class="col-xs-8">{{course.publishDate}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 center">
				分类浏览
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-3" ng-repeat="courseTag in courseTags" ng-model="courseTag" ng-class="courseTag.backgroundCls">
				<a ng-href="{{courseTag.url}}" ><img ng-src="{{courseTag.imageUrl}}" width="128px" height="128px"/>{{courseTag.name}}</a>
			</div>
		</div>
		<div class="row nav-bar fixed">
			<div class="col-xs-4 center"><a href="index.html">首页</a></div>
			<div class="col-xs-4 center"><a href="browser.html">所有文章</a></div>
			<div class="col-xs-4 center"><a href="profile_home.html">我的</a></div>
		</div>
	</div>
</body>
</html>