<div class="container" infinite-scroll="loadingCourses()" infinite-scroll-disabled="loadBusy" infinite-scroll-distance="0" >
<ul pull-to-refresh="pullToRefresh()"  style="padding-left:0px">
	<div ng-repeat="course in courses" ng-model="course" >
		<div class="row browse-date center">
	      <p>{{course.date}}</p>
	    </div>
		<div class="row" ng-class="c.bottom" ng-style="background(c)" ng-repeat="c in course.course" ng-model="c">
			<div class="col-xs-12 recent-article center">
		        <div class="mask white">
		          <h4><a class="light" ui-sref='article_detail({courseId:c.id})'>{{c.name}}</a></h4>
		          <p><a class="light" ng-repeat="tag in c.tags" ui-sref="course_tags({courseTagId:tag.id})"><i class="fa fa-tag"></i>&nbsp;{{tag.name}}</a></p>
		        </div>
		    </div>
		</div>
	<div style='clear: both;'></div>
	</div>
	
</ul>
</div>