
<div class="" ng-model="course">
	<div class="row">
		
		<div class="embed-responsive embed-responsive-16by9">
  			<video class="embed-responsive-item"  controls="true" ng-src="{{course.videoUrl}}"></video>
		</div>
	</div>
	<div class="row" >
		<div class="col-xs-12 col-lg-8">
			<div class="col-xs-12">
				<h2 class="center">{{course.name}}
				</h2>
			</div>
			<div class="col-xs-12" id="article_content">
				
			</div>
			<div class="col-xs-6 center">
				<a href="#"><i class="fa fa-heart-o"></i>收藏</a>
			</div>
			<div class="col-xs-6 center">
				<a href="#"><i class="fa fa-share-alt"></i>分享</a>
			</div>
		</div>
		<div class="col-xs-12 col-lg-4">
			<div class="col-xs-12">
				<h4>相关文章</h4>
			</div>
			<div class="col-xs-12 center" ng-repeat="course in relatedCourses">
				<div class="col-xs-12"><h5><a ui-sref='article_detail({courseId:course.id})'>{{course.name}}</h5></a>
				</div>
				<div class="col-xs-6" ng-repeat="tag in course.tags">
					<a href="#" ui-sref="course_tags({courseTagId:tag.id})"><i class="fa fa-tag"></i>{{tag.name}}</a>
				</div>			
			</div>
		</div>
	</div>

</div>
