<!DOCTYPE html>
<html lang="en" ng-app="indexModule">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>具体文章</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../../css/zaozao.css" rel="stylesheet">

  <!--3rd party css carousel-->
  <link rel="stylesheet" href="../../css/3rd_party/flickity.css" media="screen">

  <!-- Custom Fonts -->
  <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    <script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../../public/js/domainNameUtil.js"></script>
    <script type="text/javascript" src="../../public/js/course_tag_service.js"></script>
    <script type="text/javascript" src="../../public/js/course_tag.js"></script>
    <script type="text/javascript" src="../../public/js/article_browser.js"></script>
    <script type="text/javascript" src="../../public/js/index.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../3rd_party/flickity.pkgd.min.js"></script>
    <base href="/">

</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		<div class="embed-responsive embed-responsive-16by9">
  			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FMJTn2SuSu4"></iframe>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 article-body">
			<div class="col-xs-12n center">
				<h3>文章标题</h3>
			</div>
			<div class="col-xs-12 center">
				<a class="dark" href="..."><i class="fa fa-tag"></i>&nbsp;育教课程</a>
			</div>
			<div class="col-xs-12">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit. 
				</p>
				Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito. Epsum factorial non deposit quid pro quo hic escorol. Marquee selectus non provisio incongruous feline nolo contendre Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum.
				<p>
				</p>
			</div>
			<div class="col-xs-4 col-xs-offset-1 center green-btn">
				<a class="light" href="..."><i class="fa fa-heart-o"></i>&nbsp;收藏</a>
			</div>
			<div class="col-xs-4 col-xs-offset-2 center green-btn">
				<a class="light" href="..."><i class="fa fa-share-alt"></i>&nbsp;分享</a>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="col-xs-12 center">
        <hr class="transparent">
				<h4>相关文章</h4>
			</div>
			<div class="row browse-bottom">
      		<div class="col-xs-12 recent-article center">
        		<div class="mask white">
          		<h4><a class="light" href="...">最新文章1</a></h4>
          		<p><a class="light" href="..."><i class="fa fa-tag"></i>&nbsp;育教课程</a></p>
        		</div>
      		</div>
      		<div class="col-xs-12 recent-article center">
            <div class="mask white">
              <h4><a class="light" href="...">最新文章2</a></h4>
              <p><a class="light" href="..."><i class="fa fa-tag"></i>&nbsp;育教课程</a></p>
            </div>
          </div>
      		<div class="col-xs-12 recent-article center">
            <div class="mask white">
              <h4><a class="light" href="...">最新文章3</a></h4>
              <p><a class="light" href="..."><i class="fa fa-tag"></i>&nbsp;育教课程</a></p>
            </div>
          </div>
    		</div>
		</div>
	</div>
</div>
<div class="overplay"><img class="share" src="/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/share_400_400_2.png" alt="">
	</div>

<div class="container navbar-header navbar-fixed-bottom">
  <div class="col-xs-4 center"><a class="light" href="..."><p><i class="fa fa-home fa-2x"></i></p><p>首页</p></a></div>
  <div class="col-xs-4 center"><a class="light" href="..."><p><i class="fa fa-list-ul fa-2x"></i></p><p>全部课程</p></a></div>
  <div class="col-xs-4 center"><a class="light" href="..."><p><i class="fa fa-user fa-2x"></i></p><p>我</p></a></div>
</div>

</body>
</html>