<div class="article_browser" infinite-scroll="loadingCourses()" infinite-scroll-disabled="loadBusy" infinite-scroll-distance="0" >
<ul pull-to-refresh="pullToRefresh()"  style="padding-left:0px">
	<div ng-repeat="course in courses" ng-model="course" >
		<!-- <div class="row browse-date center">
	      <p>{{course.date}}</p>
	    </div> -->
		<div class="row" ng-class="c.bottom" ng-repeat="c in course.course" ng-model="c">
			<div class="col-xs-12 recent-article center" ng-style="background(c)" >
		        <div ui-sref='article_detail({courseId:c.id})' class="mask white">
		        	<p class="light">{{c.name}}</p>
         			<h4 class="small"><a class="light yellow" ng-repeat="tag in c.tags" ng-click="goToCourseTag(tag, $event)"><i class="fa fa-tag"></i>&nbsp;{{tag.name}}&nbsp;&nbsp;&nbsp;</a></h4>
		        </div>
		    </div>
		</div>
	<div style='clear: both;'></div>
	</div>
	
</ul>
</div>