
<div class="article_browser" infinite-scroll="loadingCourses()" infinite-scroll-disabled="loadBusy" infinite-scroll-distance="0" style="margin-right:-15px;margin-left:-15px">
<ul pull-to-refresh="pullToRefresh()"  style="padding-left:0">
	
	<div ng-repeat="course in courses" ng-model="course">
		
		<div class=""  ng-repeat="c in course.course"  ui-sref="article_detail({courseId:c.id})">
			<div class="col-xs-12 recent-article center" ng-class="c.bottom" ng-style="background(c)">
				<div class="mask white">
					<p><a class="light">{{c.name}}</a></p>
					<h4 class="small">
          			<a class="light yellow" ng-repeat="tag in c.tags" ng-click="goToCourseTag(tag, $event)"><i class="fa fa-tag"></i>&nbsp;{{tag.name}}&nbsp;&nbsp;&nbsp;</a>
          			</h4>
					
				</div>
			</div>
	
		</div>
	</div>
	<div style='clear: both;'></div>
	</div>
</ul>
</div>