<!DOCTYPE html>
<html lang="en" ng-app="indexModule">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>早早</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../../css/zaozao.css" rel="stylesheet">

  <!--3rd party css carousel-->
  <link rel="stylesheet" href="../../css/3rd_party/flickity.css" media="screen">

  <!-- Custom Fonts -->
  <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    <script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../../public/js/domainNameUtil.js"></script>
    <script type="text/javascript" src="../../public/js/course_tag_service.js"></script>
    <script type="text/javascript" src="../../public/js/course_tag.js"></script>
    <script type="text/javascript" src="../../public/js/article_browser.js"></script>
    <script type="text/javascript" src="../../public/js/index.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../3rd_party/flickity.pkgd.min.js"></script>
    <base href="/">

  </head>
  <body>

    <div class="container">

      <div class="gallery js-flickity"
      data-flickity-options='{ "wrapAround": true }'>
        <img class="carousel-zaozao" src="../img/1-01.png" alt="">
        <img class="carousel-zaozao" src="../../img/1-02.png" alt="">
        <img class="carousel-zaozao" src="../../img/1-03.png" alt="">
        <img class="carousel-zaozao" src="../../img/1-04.png" alt="">
        <img class="carousel-zaozao" src="../../img/1-05.png" alt="">
      </div>

     <div class="row">
       <div class="col-xs-6">
        <p class="title-left">早早TV</p>
      </div>
      <div class="col-xs-6">
        <p class="title-right">250 &rarr;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 recent-article center">
        <div class="mask white">
          <p><a class="light" href="...">最新文章1</a></p>
          <h4 class="small"><a class="light yellow" href="..."><i class="fa fa-tag"></i>&nbsp;早早课程&nbsp;&nbsp;&nbsp;</a></h4>
        </div>
      </div>
      <div class="col-xs-12 recent-article center">
        <div class="mask white">
          <p><a class="light" href="...">最新文章2</a></p>
          <h4 class="small"><a class="light yellow" href="..."><i class="fa fa-tag"></i>&nbsp;早早课程&nbsp;&nbsp;&nbsp;</a></h4>
        </div>
      </div>
      <div class="col-xs-12 recent-article center">
        <div class="mask white">
          <p><a class="light" href="...">最新文章3</a></p>
          <h4 class="small"><a class="light yellow" href="..."><i class="fa fa-tag"></i>&nbsp;早早课程&nbsp;&nbsp;&nbsp;</a></h4>
        </div>
      </div>
    </div>
    
<div class="row">
	<div class="col-xs-6">
		<p class="title-left">主题推荐</p>
	</div>
  <div class="col-xs-6">
    <p class="title-right">7 &rarr;</p>
  </div>
</div>

<div class="row gallery js-flickity"
  data-flickity-options='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
  <div class="gallery-cell catalog1 center">
    <div>
    <img src="/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/zaozao.png" alt="" width="60px" height="auto">
    </div>
    <p class="white small">早早课程</p>
  </div>
  <div class="gallery-cell catalog2 center">
    <div>
    <img src="/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/illustration_book.png" alt="" width="60px" height="auto">
    </div>
    <p class="white small">精选绘本</p>
  </div>
  <div class="gallery-cell catalog3 center">
    <div>
    <img src="/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/yoga.png" alt="" width="60px" height="auto">
    </div>
    <p class="white small">亲子瑜伽</p>
  </div>
  <div class="gallery-cell catalog4 center">
    <div>
    <img src="/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/abckid.png" alt="" width="60px" height="auto">
    </div>
    <p class="white small">ABCkid</p>
  </div>
  <div class="gallery-cell catalog5 center">
    <div>
    <img src="/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/storybots.png" alt="" width="60px" height="auto">
    </div>
    <p class="white small">Storybots</p>
  </div>
  <div class="gallery-cell catalog6 center">
    <div>
    <img src="/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/toy.png" alt="" width="60px" height="auto">
    </div>
    <p class="white small">玩具推荐</p>
  </div>
  <div class="gallery-cell catalog7 center">
    <div>
    <img src="/Users/zenchen/Documents/works/zaozao/website/zaozao2/img/home_catalog/premier.png" alt="" width="60px" height="auto">
    </div>
    <p class="white small">会员课程</p>
  </div>
</div>
</div>

<div class="container navbar-header navbar-fixed-bottom">
  <div class="col-xs-4 center"><a class="light" href="..."><p><i class="fa fa-home fa-1x"></i></p><p class="small">首页</p></a></div>
  <div class="col-xs-4 center"><a class="light" href="..."><p><i class="fa fa-list-ul fa-1x"></i></p><p class="small">全部课程</p></a></div>
  <div class="col-xs-4 center"><a class="light" href="..."><p><i class="fa fa-user fa-1x"></i></p><p class="small">我</p></a></div>
</div>


</body>
</html>