
<div id="myCarousel" class="carousel slide" hm-swipe-left="swipeLeft()" hm-swipe-right="swipeRight()"  data-ride="carousel"  style="margin-right:-20px;margin-left:-20px;">
	<!--  -->

    <ol class="carousel-indicators">
        <li ng-repeat='config in homeConfig' data-target="#myCarousel" data-slide-to="{{config.index}}" ng-model="config" ng-class="config.active?'active':''" style="background-color: grey;"></li>
     
     </ol> 
    <div class="carousel-inner">
      <div class="item" ng-repeat="config in homeConfig" ng-model="config" ng-class='config.active?"active":""'>
        <img class="img-responsive" style="vertical-align:middle;display:table; text-align:center" ng-src="{{config.image}}" alt="" width="100%" />
      </div>
    </div>
</div>

<div class="row" style="padding-top: 10px">
       <div class="col-xs-6">
        <p class="title-left"><i class="fa fa-desktop"></i>&nbsp;&nbsp;早早TV</p>
      </div>
      <div class="col-xs-6">
        <a class="dark" ui-sref="course_list"><p class="title-right">{{totalCourseCount}}&nbsp;<i class="fa fa-angle-right"></i></p></a>
      </div>
    </div>

<div class="row home_news">
  <div class="col-xs-12 recent-article center" ng-repeat="course in courses" back-image="{{course.imageUrl}}">
    <div class="mask white">
    	<p><a class="light" ui-sref='article_detail({courseId:course.id})'>{{course.name}}</a></p>
          <h4 class="small"><a class="light yellow" ng-repeat="tag in course.tags" ui-sref="course_tags({courseTagId:tag.id})"><i class="fa fa-tag"></i>&nbsp;{{tag.name}}&nbsp;&nbsp;&nbsp;</a></h4>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-xs-6">
		<p class="title-left"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;主题推荐</p>
	</div>
  <div class="col-xs-6">
  	<p class="title-right">{{courseTags.length}}&nbsp;<i class="fa fa-angle-right"></i></p>
  </div>
</div>
  <div class="row gallery">

  	<div class="gallery-cell" ng-repeat="courseTag in courseTags" ng-model="courseTag" >
  		<img ng-src="{{courseTag.imageUrl}}" ui-sref='course_tags({courseTagId:courseTag.id})' style="width:100%"/>
  			<p class="white small" style="position:absolute;width:100%;height:100%; top:70%; text-align: center;vertical-align: middle;">
				    	{{courseTag.name}}
			</p>
  		
  	</div>
	<!-- <div class="row gallery">
		<div class="row gallery-cell catalog center" ng-repeat="courseTag in courseTags" ng-model="courseTag" back-image="{{courseTag.imageUrl}}">

		    <a ui-sref='course_tags({courseTagId:courseTag.id})' >
			    
			    <p class="white small">
				    	{{courseTag.name}}
			    </p>
			</a>

		</div>
	</div> -->
</div>
