<!DOCTYPE html>
<html lang="en" ng-app="indexModule">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>zaozao</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../../css/zaozao.css" rel="stylesheet">

  <!--3rd party css carousel-->
  <link rel="stylesheet" href="../../css/3rd_party/flickity.css" media="screen">

  <!-- Custom Fonts -->
  <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    <script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../../public/js/domainNameUtil.js"></script>
    <script type="text/javascript" src="../../public/js/course_tag_service.js"></script>
    <script type="text/javascript" src="../../public/js/course_tag.js"></script>
    <script type="text/javascript" src="../../public/js/article_browser.js"></script>
    <script type="text/javascript" src="../../public/js/index.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../3rd_party/flickity.pkgd.min.js"></script>
    <base href="/">
    <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
    }

    .container {
      padding: 0;
    }
    </style>
  </head>
  <body>

    <div class="container">

      <div class="gallery js-flickity"
      data-flickity-options='{ "wrapAround": true }'>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
        <div class="gallery-cell"></div>
      </div>

     <div class="row">
       <div class="col-xs-12 center">
        最新文章
      </div>
    </div>
    <div class="row">
     <div class="col-xs-12 col-lg-4 recent-article1">
      </div>
      <div class="col-xs-12 col-lg-4 recent-article1">
      </div>
      <div class="col-xs-12 col-lg-4 recent-article1">
      </div>
    </div>
    
<div class="row">
	<div class="col-xs-12 center">
		分类浏览
	</div>
</div>

<div class="row gallery js-flickity"
  data-flickity-options='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
</div>
</div>

<div class="container navbar-header navbar-fixed-bottom">
  <div class="col-xs-4 center"><a href="index.html"><p><i class="fa fa-home fa-2x"></i></p><p>首页</p></a></div>
  <div class="col-xs-4 center"><a ui-sref="course_list"><p><i class="fa fa-list-ul fa-2x"></i></p><p>所有文章</p></a></div>
  <div class="col-xs-4 center"><a href="profile_home.html"><p><i class="fa fa-user fa-2x"></i></p><p>我的</p></a></div>
</div>


</body>
</html>