<!DOCTYPE html>
<html lang="en" ng-app="indexModule">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>早早</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../../css/zaozao.css" rel="stylesheet">

  <!--3rd party css carousel-->
  <link rel="stylesheet" href="../../css/3rd_party/flickity.css" media="screen">

  <!-- Custom Fonts -->
  <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    <script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../../public/js/domainNameUtil.js"></script>
    <script type="text/javascript" src="../../public/js/course_tag_service.js"></script>
    <script type="text/javascript" src="../../public/js/course_tag.js"></script>
    <script type="text/javascript" src="../../public/js/article_browser.js"></script>
    <script type="text/javascript" src="../../public/js/index.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../3rd_party/flickity.pkgd.min.js"></script>
    <base href="/">

  </head>
  <body>

    <div class="container">

      <div class="gallery js-flickity"
      data-flickity-options='{ "wrapAround": true }'>
        <img class="carousel-zaozao" src="../img/1-01.png" alt="">
        <img class="carousel-zaozao" src="../../img/1-02.png" alt="">
        <img class="carousel-zaozao" src="../../img/1-03.png" alt="">
        <img class="carousel-zaozao" src="../../img/1-04.png" alt="">
        <img class="carousel-zaozao" src="../../img/1-05.png" alt="">
      </div>

     <div class="row">
       <div class="col-xs-12 center">
        <h3>最新文章</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 recent-article center">
        <div class="mask white">
          <h4>最新文章1</h4>
          <p><i class="fa fa-tag"></i>&nbsp;育教课程</p>
        </div>
      </div>
      <div class="col-xs-12 recent-article center">
        <div class="mask white">
          <h4>最新文章2</h4>
          <p><i class="fa fa-tag"></i>&nbsp;育教课程</p>
        </div>
      </div>
      <div class="col-xs-12 recent-article center">
        <div class="mask white">
          <h4>最新文章3</h4>
          <p><i class="fa fa-tag"></i>&nbsp;育教课程</p>
        </div>
      </div>
    </div>
    
<div class="row">
	<div class="col-xs-12 center">
		<h3>分类浏览</h3>
	</div>
</div>

<div class="row gallery js-flickity"
  data-flickity-options='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
  <div class="gallery-cell catalog center">
    <span class="fa-stack fa-3x">
      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
      <i class="fa fa-cube fa-stack-1x" style="color: #3EBAAB"></i>
    </span>
    <p class="white">育教课程</p>
  </div>
  <div class="gallery-cell catalog center">
    <span class="fa-stack fa-3x">
      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
      <i class="fa fa-columns fa-stack-1x" style="color: #3EBAAB"></i>
    </span>
    <p class="white">绘本阅读</p>
  </div>
  <div class="gallery-cell catalog center">
    <span class="fa-stack fa-3x">
      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
      <i class="fa fa-eraser fa-stack-1x" style="color: #3EBAAB"></i>
    </span>
    <p class="white">亲子瑜伽</p>
  </div>
  <div class="gallery-cell catalog center">
    <span class="fa-stack fa-3x">
      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
      <i class="fa fa-jpy fa-stack-1x" style="color: #3EBAAB"></i>
    </span>
    <p class="white">付费课程</p>
  </div>
</div>
</div>

<div class="container navbar-header navbar-fixed-bottom">
  <div class="col-xs-4 center"><a href="index.html"><p><i class="fa fa-home fa-2x"></i></p><p>首页</p></a></div>
  <div class="col-xs-4 center"><a ui-sref="course_list"><p><i class="fa fa-list-ul fa-2x"></i></p><p>所有文章</p></a></div>
  <div class="col-xs-4 center"><a href="profile_home.html"><p><i class="fa fa-user fa-2x"></i></p><p>我</p></a></div>
</div>


</body>
</html>