<div class="container browse-bottom">
  <div class="col-xs-12 one-edge-shadow">
    <div class="row cover-background">     
    </div>
    <img ng-src="{{userInfo.headimgurl}}"  alt="" class="avatar" style="width=100%">
    <a ui-sref="user_profile_edit"><i class="fa fa-pencil-square-o fa-2x green-text" style="margin-left: 10px"></i></a>
    <div class="user-name center">
      <p>{{userInfo.nickname}}</p>
    </div>
    <div class="user-name center">
      <!--<h4 class="small yellow">22</h4>-->
      <a ui-sref="favorite" class="btn btn-submit-white" role="button"><i class="fa fa-heart"></i>&nbsp;&nbsp;我的收藏</a>
    </div>
  </div>

  <div class="col-xs-12 center" style="margin-top: 20px">
    <p>宝宝信息</p>
  </div>

  <div class="col-xs-6 baby-info">
    <div class="center green one-edge-shadow">
      <p class="white" style="margin-bottom: 10px">宝宝姓名</p>
      <h3 class="white">{{userInfo.child.childName}}</h3>
    </div>
  </div>
  <div class="col-xs-6 baby-info">
    <div class="center green one-edge-shadow">
      <p class="white"style="margin-bottom: 10px">出生日期</p>
      <h3 class="white">{{birthdate}}</h3>
    </div>
  </div>
  <div class="col-xs-6 baby-info">
    <div class="center green one-edge-shadow">
      <p class="white"style="margin-bottom: 10px">宝宝性别</p>
      <h3 class="white">{{genderText}}</h3>
    </div>
  </div>
  <div class="col-xs-6 baby-info">
    <div class="center green one-edge-shadow">
      <p class="white"style="margin-bottom: 10px">宝宝血型</p>
      <h3 class="white">{{userInfo.child.bloodType}}</h3>
    </div>
  </div>
</div>